<!doctype html>
<html>
   <head>
       <title>soot - Search on toots</title>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>

   <body>
   {% if registered %}

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#">Soot - Search on toots: </a>
        <form action="/query" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{query|default('')}}" >
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <form action="/logout" class="form-inline">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
        </form>

    </nav>

        {% if query %}
            <div id="results">
                {% if toots %}
                    <ul>
                    {% for toot in toots %}
                        <div class="card">
                            <div class="card-body">
                                <a href="{{toot['uri']}}">View <img src="/static/logotype-simple.svg" alt="on Mastodon" style="width:2em;"></a>
                                <h5 class="card-title">@{{ toot['author'] }}  {{ toot['verb'] }}:  </h5>
                                <div class="card-text">  {{ toot['content']  |safe  }} </div>
                            </div>
                        </div>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Nothing found.</p>
                {% endif %}
            </div>

        {% else %}
        <div>Enter a query above. Search your toots for @mentions, #hashtags, or keywords.</div>
        {% endif %}

   {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
       <a class="navbar-brand" href="#">Soot - Search on toots! </a>
    </nav>


  <div>
      <p><a target="_blank" href="/register">Confirm read access to your account.</a>, then copy authentication code and paste in form below.</p>

      <p><form action="/authenticate" class="form-inline">
      <input class="form-control mr-sm-2" type="password" placeholder="Authentication code" aria-label="Authentication code" name="access_token" value="">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Submit</button>
  </form></p>
  </div>



   <p>Soot will not share your toots.</p>


  {% endif %}

  </body>
</html>

